/* Add styling for Nav links */
/* Style for the navigation links */
.nav-link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-family: Orbitron;
    text-decoration: none;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: 1px solid #007bff; /* Button border color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Hover effect */
  .nav-link:hover {
    background-color: #0056b3; /* Hovered background color */
    color: #fff; /* Hovered text color */
  }
  
  /* Active link */
  .nav-link.active {
    background-color: #0056b3; /* Active link background color */
    color: #fff; /* Active link text color */
  }
  
  
  /* Add styling for Add Contact button */
  button[type="submit"] {
    background-color: #28a745; /* Green background color */
    color: white; /* White text color */
    border: none;
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Show pointer on hover */
    font-family: Orbitron;
  }
  
  button[type="submit"]:hover {
    background-color: #1e7e34; /* Darker green on hover */
  }

  
  input[type="submit"] {
    background-color: #28a745; /* Green background color */
    color: white; /* White text color */
    font-family: Orbitron;
    border: none;
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Show pointer on hover */
  }
  
  /* Additional styles (optional) */
  input[type="submit"]:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  